<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="CalledPrinter" class="com.bizruntime.spring.ioc.beanref.CalledPrinterJavaBean">
	</bean>
	<bean id="CallerPrinter" class="com.bizruntime.spring.ioc.beanref.CallerPrinterJavaBean">
			<property name="calledPrinter" ref="CalledPrinter"/>
	</bean>
</beans>